<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">

    <bean id="categoriesConnectionsMaker" class="wikinet.extending.impl.CategoriesConnectionsMakerImpl" />
    <bean id="meaningResolver" class="wikinet.extending.MeaningResolver" autowire="byName" />

    <bean class="wikinet.extending.impl.ExtenderImpl" autowire="byName" >
        <property name="connectionsMakers">
            <list>
                <ref bean="categoriesConnectionsMaker" />
            </list>
        </property>
    </bean>

    <bean id="pageProducerService" class="wikinet.PageProducerService" autowire="byName" />
    <bean id="pageConsumerService" class="wikinet.PageConsumerService" autowire="byName" />

</beans>