<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">

    <bean id="utils" class="wikinet.mapping.Utils" />

    <bean id="categoriesVoter" class="wikinet.mapping.voter.CategoriesVoter" autowire="byName" />
    <bean id="descriptionVoter" class="wikinet.mapping.voter.DescriptionVoter" autowire="byName" />
    <bean id="graphVoter" class="wikinet.mapping.voter.GraphVoter" autowire="byName" />
    <bean id="linksVoter" class="wikinet.mapping.voter.LinksVoter" autowire="byName" />
    <bean id="synonymousSetVoter" class="wikinet.mapping.voter.SynonymousSetVoter" autowire="byName" />

    <bean id="mapper" class="wikinet.mapping.MapperImpl" abstract="true" autowire="byName" >
        <property name="voters">
            <list>
                <ref bean="categoriesVoter" />
                <ref bean="descriptionVoter" />
                <!--<ref bean="graphVoter" />-->
                <!--<ref bean="linksVoter" />-->
                <ref bean="synonymousSetVoter" />
            </list>
        </property>
        <property name="minTrustLevel" value="0.5" />
        <property name="minTrustDif" value="0.01" />
    </bean>

    <bean id="synsetProducerService" class="wikinet.mapping.service.SynsetProducerService" autowire="byName" />
    <bean id="synsetConsumerService" class="wikinet.mapping.service.SynsetConsumerService" autowire="byName" />

</beans>